* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Serif 4', serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #3D5065;
}

.w-85 {
  width: 85%;
}

.w-0 {
  width: 0;
}

/* Css for Alert Section */
.alert-section .alert,
.alert-section .alert a {
  background-color: #3D4F61;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

/* Css for Navbar */

.nav-border {
  border-bottom: 1px solid #E8E8E8;
}

.navbar-brand {
  font-size: 28px;
  color: #3D4F61 !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #3D4F61;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
}

.navbar-light .navbar-nav .nav-link {
  color: #3D4F61;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
}

.userIcon {
  height: fit-content;
}

.animate-btn {
  width: 241px !important;
  height: 64px;
}

.nav-right .button,
.collapse .button {
  background-color: #3D5065;
  border-radius: 48px;
  display: block;
  transition: all ease-out 0.3s;
  border: 1px solid #3D5065;
  font-size: 20px;
}

.user-icon i,
.cart-icon i {
  color: #3D5065;
  font-size: 21px;
}

.collapse .button i {
  color: #3D5065;
}

.nav-arrow {
  transition: all ease 0.3s;
}

.animate-btn:hover .button {
  font-size: 18px;
  padding: 4px 8px !important;
  display: inline-block;
  background-color: #fff;
  color: #3D5065 !important;
}

.animate-btn:hover .animate-btn-span {
  display: none;
}

.animate-btn:hover .nav-arrow {
  margin-left: 8px !important;
  background-color: #3D5065 !important;
  color: #fff;
}

.hamburger-menu-icon {
  color: #3D4F61;
}

.nav-bottom,
.nav-bottom h5 {
  font-size: 16px;
}

/* Css for Bathroom Section  */

.bathroom-bg {
  width: 100%;
  height: auto;
  background: url('../images/Group\ 654.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bath-card .card {
  width: unset !important;
  max-width: 610px;
}

.bath-card .card-text {
  font-size: 24px;
}

.bath-card h5,
h6 {
  font-size: 48px;
}

.bath-card ul li {
  font-family: 'Poppins', sans-serif;
}

.bath-card .card-price,
.moneyBack-bg .card-price {
  font-size: 72px;
}

.buyNow-btn {
  background-color: #3D5065;
  border: 1px solid #3D5065;
  font-family: 'Poppins', sans-serif;
  transition: all ease 0.2s;
  font-size: 24px;
}

.buyNow-btn:hover {
  background-color: transparent !important;
  color: #3D5065 !important;
}

.bath-card .card-bottom span {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}


/*Css for Blitz Section  */
.blitz-body {
  padding: 125px 0px;
}

.blitz-body h3 {
  font-size: 48px;
}

.blitz-body p,
.blitz-body p span {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}


/* Css for Money Back Section */
.moneyBack-bg {
  padding: 66px 0px;
  background: transparent linear-gradient(91deg, #B6D8DC 0%, #CEECEE 60%, #CDEAEE 72%, #CCE9ED 81%, #BFE0E5 100%) 0% 0% no-repeat padding-box;
}

.moneyBack-img {
  background-size: contain;
}

.moneyBack-img img {
  width: 100%;
}

.moneyBack-bg h1 {
  font-size: 48px;
}

.moneyBack-bg ul li {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.moneyBack-bg h5 {
  font-size: 24px;
}

.moneyBack-bg .card-bottom button {
  width: 85%;
}

.moneyBack-bg .card-bottom span {
  font-family: 'Poppins', sans-serif;
}

.money-bottom h4 {
  font-size: 48px;
}

.money-card {
  width: 377px;
}

.money-cards .money-card:nth-child(1) .money-img {
  background: url(../images/PF_Sept09497FLORALMAX.png);
}

.money-cards .money-card:nth-child(2) .money-img {
  background: url(../images/PF_Sept09497MAX.png);
}

.money-cards .money-card:nth-child(3) .money-img {
  background: url(../images/PF_Sept09497CTIRUSMAX.png);
}

.money-card-sm .money-card:nth-child(1) .money-img {
  background: url(../images/PF_Sept09497CTIRUSMAX.png) !important;
}

.money-card .money-img {
  height: 505px;
}

.money-card .money-img {
  box-shadow: 0px 0px 15px #00000029;
}

.money-card .money-img img {
  max-height: 505px;
}

.money-card .money-img button {
  font-size: 24px;
}

.addToCart-btn {
  background-color: #3D5065;
  border: 1px solid #3D5065;
  font-family: 'Poppins', sans-serif;
}

.money-card .card-body .card-price {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.money-card .card-body h4 {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.money-card .card-body h5,
.money-card .card-body i {
  font-size: 20px !important;
  font-family: 'Poppins', sans-serif;
}

/* Css For Play Image Section */
.play-image {
  background: url('../images/Group 662.png') no-repeat;
  background-size: cover;
  height: 670px;
  padding-top: 170px;
}

.play-image h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: normal;
}

/* Css for Designe Section */
.designe-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.designe-section h2 {
  font-size: 48px;
}

.designe-section .card {
  max-width: 290px;
}

.designe-cards {
  padding-top: 84px;
}

.designe-cards .card-body,
.designe-cards .card-body h5 {
  font-family: 'Poppins', sans-serif;
}

.designe-cards .card-body h5 {
  font-size: 36px;
}

.designe-cards .card-body .card-text {
  font-size: 24px;
}

.different {
  margin-top: 82px;
}

.different h2 {
  margin-bottom: 86px;
}

.different table,
.different .cross {
  font-size: 18px;
  color: #3D5065;
}

.different .cross,
.table tbody {
  font-size: 22px;
}

.table td:first-child,
.table th:first-child {
  width: 70%;
}

.table tr th:nth-child(2) {
  border: 1px solid #707070;
}

.table tbody tr td:nth-child(2) {
  background-color: #ffffff;
  border-left: 1px;
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: #707070;
}

.table tbody tr:last-child td:nth-child(2) {
  border-bottom: 1px solid #707070;
}

.table tbody td,
.table th {
  border: none;
  font-family: 'Poppins', sans-serif;
}

.table tbody tr:nth-child(odd) {
  background-color: #E6F2FE;
}

/* Css for Extra Section */
.extra-bg {
  background-color: #B6D8DC;
}

.extra-bg h2 {
  font-size: 48px;
}

.extra-bg h4 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.extra-bottom h5 {
  font-size: 48px;
}

.extra-bottom p,
.extra-bottom p span {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}




@media (max-width:767px) {
  .money-bottom h4 {
    font-size: 30px;
  }

  .money-card .money-img {
    height: 250px;
    background-position: center !important;
    background-size: cover !important;
  }

  .money-card-sm .money-card:nth-child(1) .money-img {
    height: 250px;
    background-position: center !important;
    background-size: cover !important;
  }

  .money-card {
    width: 100%;
  }

  .alert-section .alert,
  .alert-section .alert a {
    font-size: 14px;
  }

  .nav-bottom,
  .nav-bottom h5 {
    font-size: 13px;
  }

  .bath-card h5,
  h6 {
    font-size: 30px;
  }

  .bath-card .card-text p {
    font-size: 5.6vw;
  }

  .bath-card ul {
    padding-left: 1rem;
  }

  .bath-card ul li {
    font-size: 3.8vw;
  }

  .bath-card .card-price,
  .moneyBack-bg .card-price {
    font-size: 12.8vw;
  }

  .buyNow-btn {
    font-size: 5.6vw;
  }

  .bathroom-bg {
    height: 40vh;
  }

  .bathroom-bg .container {
    position: absolute;
    left: 0;
    top: 80%;
  }

  .blitz-section {
    margin-top: 530px;
  }

  .bath-card .card {
    box-shadow: 0px 0px 25px #00000026;
  }

  .blitz-body h3 {
    font-size: 30px;
  }

  .blitz-body p {
    font-size: 24px;
  }

  .blitz-body p span {
    font-size: 20px;
  }

  .blitz-body {
    padding: 3rem;
  }

  .moneyBack-bg {
    padding: 0;
  }

  .moneyBack-bg h1 {
    font-size: 30px;
    position: absolute;
    top: 0;
    margin-top: 32px;
    padding: 0px 37px;
  }

  .moneyBack-img {
    background: url(../images/Group\ 658.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 525px;
    width: 100%;
  }

  .trans-sm-negative {
    transform: translateY(-30px);
  }

  .moneyBack-bg ul li {
    font-size: 3.8vw;
  }

  .moneyBack-bg .card-bottom button {
    width: 100%;
  }

  .moneyBack-bg .card-bottom span {
    font-size: 12px;
  }

  .play-image h5 {
    font-size: 23px;
    line-height: 1.5;
  }

  .play-image {
    background: url('../images/Group\ 661.png');
    background-position: center;
  }

  .designe-section h2,
  .extra-bg h2 {
    font-size: 30px;
  }

  .designe-cards .card-body h5 {
    font-size: 24px;
  }

  .designe-cards {
    padding-top: 50px;
  }

  .different .cross,
  .table tbody {
    font-size: 18px;
  }

  .table tr th:nth-child(2) img {
    width: 52px;
  }

  .table th {
    font-size: 12px;
  }

  .extra-bg h4 {
    text-decoration: underline;
  }

  .designe-cards .card-body .card-text {
    font-size: 18px;
  }

  .extra-bottom h5 {
    font-size: 30px;
  }

  .extra-bottom p {
    font-size: 20px;
  }

  .money-card .money-img button {
    font-size: 18px;
  }

  .money-card .card-body .card-price {
    font-size: 22px;
  }

  .money-card .card-body h4 {
    font-size: 22px;
  }

  .money-card .card-body i {
    font-size: 15px !important;
  }

  .money-card .card-body h5 {
    font-size: 10px !important;
  }

  .money-cards {
    gap: 1rem !important;
  }
}

@media (min-width:576px) and (max-width:767px) {
  .play-image {
    background: url('../images/Group\ 661.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bath-card .card {
    max-width: unset;
    width: 100% !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .money-card .money-img {
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
  }

  .money-card {
    width: 100%;
  }

  .bath-card .card {
    max-width: unset;
  }

  .moneyBack-bg .card-bottom button {
    width: 100%;
  }

  .play-image {
    background: url('../images/Group\ 661.png') no-repeat cover;
    background-position: center;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show>.nav-link {
    font-size: 18px;
  }

  .nav-right .button,
  .collapse .button {
    font-size: 13px;
  }

  .bg-md-transparent {
    background-color: transparent !important;
  }

  .play-image {
    background-position: center;
  }
}

@media (min-width:1200px) {
  .bath-card .card-body {
    padding: 43px;
  }

  .bg-lg-transparent {
    background-color: transparent !important;
  }

  .w-lg-50 {
    width: 50%;
  }

  .w-lg-75 {
    width: 75%;
  }

  .w-lg-85 {
    width: 85%;
  }
}